<!DOCTYPE html>
<html>

<head>
  <title>Oregon Trail</title>
  <link rel='stylesheet' type='text/css' href='../css/global.css'>
  <link rel='stylesheet' type='text/css' href='../css/setup.css'>
</head>


<body>
  <section class='header'>
    <h1>The Oregon Trail</h1>
  </section>

  <section class='page-body'>
    <div class='body-title'>
        <h3>Setup</h3>
    <div>

    <div class='options-container'>
      <div id='option-1' onclick="start()">
        <p>Be a Banker from Boston</p>
      </div>
      <div id='option-2' onclick="learn()">
        <p>Be a carpenter from Ohio</p>
      </div>
    </div>

    <div class='options-container'>
      <div id='option-3' onclick="topTen()">
        <p>Be a Farmer from Illinois</p>
      </div>

      <div id='option-4' onclick="soundOn(this)">
        <p>Find out the differences between the choices</p>
      </div>
    </div>


  <div class='msg-container' onclick="mainmenu()">
    <p class='msg' id='msg' >Press the Spacebar to Continue</p>
  </div>
  </section>

  <section class='footer'>
  </section>
</body>




</html>
<script type = "text/javascript" src = "../js/setup.js" ></script>
<script type = "text/javascript" src = "../js/global.js" ></script>
