<!DOCTYPE html>
<html>

<head>
  <title>Oregon Trail</title>
  <link rel='stylesheet' type='text/css' href='../css/global.css'>
  <link rel='stylesheet' type='text/css' href='../css/trail.css'>
</head>


<body>
  <section class='header'>
    <h1>The Oregon Trail</h1>
  </section>

  <section class='page-body'>
    <div class='img-container'>
    <img src='../images/landscape.png'>
    <div>

  <section class='page-body'>
    <div class='body-title'>
        <h3>Travel the Trail</h3>
    <div>

<div class = "fixed"> Terrain and Wagon Progress
  <ul type = "1">
    <li>1. Days on trail</li>
    <li>2. Miles traveled</li>
    <li>3. Party health status</li>
    <li>4. Current weather</li>
    <li>5. Current pace</li>
    <li>6. Current terrain</li>
    <li>7. # of party members alive</li>
  </ul>
</div>

<div class='msg-container' onclick="mainmenu()">
  <p class='msg' id='msg' >Press the Spacebar to Continue</p>
</div>
</section>

<section class='footer'>
</section>




</html>
<script type = "text/javascript" src = "../js/trail.js" ></script>
<script type = "text/javascript" src = "../js/global.js" ></script>
